body {
    font: 12px sans-serif;
}

#legend {
    font: 12px sans-serif;
}

.tick>line {
    fill: none;
    stroke: black;
}

.tick>text {
    fill: black;
}

path.domain {
    fill: none;
    stroke-width: 2px;
    stroke: black;
}

#wrapper {
    display: flex;
    justify-content: space-around;
}

#chart1,
#chart2 {
    flex: 1;
    margin: 10px;
}

#chart3 {
    margin-top: 30px;
    margin-left: 20px;
}